.mat-button {
    margin-left: 5px;
}

.pepperi-border-bottom, .mat-dialog-actions, .split-actions {
    margin-bottom: 0px;
    margin-top: 0px;
}

.pepperi-border-top {
    margin-top: 0px;
}

.item-id {
    margin-top: 10px;
}


