.dialog {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  width: 310px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "desc";

    .name { 
      grid-area: name;
     }

    .desc { 
      grid-area: desc;
      border-radius: 4px;
      height: 160px;
      margin-bottom: 17px;
     }
  } 

.pepperi-button {
  margin-left: 5px;
}

.pepperi-border-bottom {
  margin-bottom: 5px;
}

