<div class="content">
  <pep-top-bar [inline]="false">
      <div header-start-content>
          <h2 class="title">{{ 'Add collection' | translate}}</h2>
      </div>
      <div  header-end-content>
          <pep-button [value]="'Back' | translate" (buttonClick)="backClicked()"></pep-button>
          <pep-button [value]="'Save' | translate" [styleType]="'strong'" (buttonClick)="saveClicked()"></pep-button>  
      </div>
  </pep-top-bar>
  <br/>
  <div class="form">
      <div class="grid-container">
          <div class="name">
              <pep-textbox [mandatory]="true" label="Name" [(value)]="collection.Name" [disabled]="false" [readonly]="false"> </pep-textbox>
          </div>
          <div class="desc">
              <pep-textbox [mandatory]="true" label="Description" [(value)]="collection.Description" [disabled]="false" [readonly]="false"></pep-textbox>
          </div>
      </div>
    </div>  
</div>       