<pep-page-layout>
  <ng-container pep-top-area>
      <pep-top-bar [inline]="false" [title]="('Title_Addon' | translate)">
          <div header-start-content>
          </div>
      </pep-top-bar>
  </ng-container>


  <ng-container pep-main-area>
    <div class="related-collection-form-container">
      <div class="form-addon-page-container">
        <div  class="header-content pepperi-border-bottom">
          <pep-button [sizeType]="'sm'" iconName="arrow_left_alt"(buttonClick)="backClicked()"></pep-button>
          <p class="subtitle"> {{externalID}} </p>
        </div>
        <div class="image-section">
          <div class="item-image">
            <pep-image [src]="imageSource" label=""[mandatory]="false" 
            [disabled]="true" xAlignment="left" [rowSpan]="4"[showTitle]="false"> </pep-image>
          </div>
          <div class="image-text">
            <h2 class="image-title">
              {{itemTitle}}
            </h2>
            <p class="image-description">
              {{itemDescription}}
            </p>
          </div>
        </div>
        <pep-generic-list #glist1
        [showTopBar]="true"
        [inline]="true"
        [dataSource]="dataSource"
        [actions]="actions"
        [showSearch]="true">
        <div class="right-buttons"  right-buttons >
          <pep-button [sizeType]="'sm'" [value]= "'Add_Button' |translate" [classNames]="'pep-spacing-element'" [styleType]="'strong'" (buttonClick)="addRelatedItem()" ></pep-button>
        </div>
        </pep-generic-list>
      </div>
    </div>
  </ng-container>
</pep-page-layout>