<pep-page-layout [addPadding]="true">
  <ng-container pep-top-area>
      <pep-top-bar [inline]="false" [title]="('Title_Addon' | translate)">
          <div header-start-content>
          </div>
      </pep-top-bar>
  </ng-container>


  <ng-container pep-main-area>
    <pep-generic-list class="generic-list-container" #glist1
    [title]="" 
    [pager]="pager" 
    [dataSource]="dataSource" 
    [inline]="true"
    [showTopBar]="true" 
    [showSearch]="true" 
    [actions]="actions">
    <div class="right-buttons" right-buttons>
        <pep-menu iconName="system_menu" type="action" styleType="weak" sizeType="sm" classNames=""
          [items]="menuItems" [disabled]="false" (menuItemClick)="menuItemClick($event)"></pep-menu>
        <pep-button [sizeType]="'sm'" [classNames]="'pep-spacing-element'" [value]="'Add_Collection_Button'| translate"
          [styleType]="'strong'" (buttonClick)="addCollecton()"></pep-button>
    </div>
    </pep-generic-list>
  </ng-container>
</pep-page-layout>