<pep-page-layout>
  <ng-container pep-main-area>
    <pep-generic-list 
      [title] = ""
      [allowMultipleSelection]="true"  
      [dataSource]="listDataSource" 
      [inline]="true"
      [noDataMessage]= noDataMessage
      [showSearch]="true">
      <div right-buttons>
        <pep-button [sizeType]="'sm'" [classNames]="'pep-spacing-element'"[value]= "'Add_Collection_Button'| translate" [styleType]="'strong'" (buttonClick)="addCollecton()"></pep-button>
      </div>
    </pep-generic-list>
  </ng-container>
</pep-page-layout>