<pep-page-layout [addPadding]="false">
  <ng-container pep-main-area>
    <pep-generic-list 
    [title] = "'Related_Items_Title' | translate"
    [allowMultipleSelection]="true"  
    [dataSource]="listDataSource" 
    [inline]="true"
    [noDataMessage]= noDataMessage
    >
    <div right-buttons>
      <pep-button class="pep-spacing-element" [sizeType]="'sm'" [value]= "'Add_Field_Button' | translate" [styleType]="'strong'" (buttonClick)="openFieldForm(1)"></pep-button>
    </div>
  </pep-generic-list>
  </ng-container>
</pep-page-layout>