<div class="container">
  <div class="addon-page-container">
    <generic-list 
      title = "Related Items"
      [allowMultipleSelection]="true"  
      [dataSource]="listDataSource" 
      [inline]="true"
      [noDataMessage]= "'No Related Items Assigned \n Click the `Add field` Button to get things going'"
      [showSearch]="false">
      <div right-buttons>
        <pep-button [sizeType]="'sm'" [value]="'Add Field'" [styleType]="'strong'" (buttonClick)="openFieldForm(1)"></pep-button>
      </div>
    </generic-list>
  </div>
</div>