@import 'ngx-lib/src/core/style/abstracts/mixins';
@import 'ngx-lib/src/core/style/abstracts/variables';

.addon-page-container{
    width: 80%;
    margin-left: 15px;
}

.inline-top-bar-container {
    margin-top: 1rem;
    max-width: 100%;
}