<pep-page-layout>
    <ng-container pep-top-area>
        <pep-top-bar [title]="title" [inline]="inline">
            <div header-start-content>
                <ng-content select="[left-buttons]"></ng-content>
            </div>
            <div  header-end-content>
                <ng-content select="[right-buttons]"></ng-content>
            </div>
            <pep-list-actions [sizeType]="inline ? 'sm' : 'md'" [actions]="menuActions"(actionClick)="onMenuItemClicked($event)"></pep-list-actions>
            <pep-search [sizeType]="inline ? 'sm' : 'md'" *ngIf="showSearch" (search)="onSearchChanged($event)">
            </pep-search>
        </pep-top-bar>
    </ng-container>
    <ng-container pep-main-area>
        <div #listContainer class="list-container">
            <pep-list viewType="table" [supportSorting]="false" [parentScroll]="listContainer"
                [selectionTypeForActions]="allowMultipleSelection ? 'multi' : (allowSelection ? 'single' : 'none')" [noDataFoundMsg]="noDataMessage" [parentScroll]="listContainer"
                (fieldClick)="onCustomizeFieldClick($event)"
                (selectedItemsChange)="selectedRowsChanged($event)">
            </pep-list>
        </div>
    </ng-container>
</pep-page-layout>

